data/
*.gz
*.pt
*.bin
*.safetensors
checkpoints/
outputs/

# results
results/transformer/**/best/
results/transformer/**/checkpoints/
results/*.joblib

# python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/


*.egg-info/
build/
dist/

# secrets, env
.env
*.secret
